@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* Width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
/* Background color of the scrollbar track in dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #161b22;
    border-radius: 8px;
  }
}
/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

/* Hover style for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #fbb03b;
}
